mock==4.0.3
argcomplete==1.12.3
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
pytest==6.2.5
pyqtgraph==0.11.0
numpy_ringbuffer==0.2.1
Flask==2.0.3
scipy==1.7.1
parameterized==0.8.1 
numpy==1.21.2
mne==0.23.4  # For EEG
scikit-learn==1.0.2  # For EEG
pyriemann==0.2.7  # For EEG
